body {background: radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(154,213,205,1) 54%, rgba(161,227,222,1) 100%);
max-width: 570px;}

.bodyConfetti {background-image: url("../media/confetti.gif");
background-image: url("../media/confetti.gif"), radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(154,213,205,1) 54%, rgba(161,227,222,1) 100%); }

.bodySnow {background-image: url("../media/falling\ snow.gif");
background-image: url("../media/falling\ snow.gif"), radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(154,213,205,1) 54%, rgba(161,227,222,1) 100%); }

.bodyStars {background-image: url("../media/starfall.gif");
background-image: url("../media/starfall.gif"), radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(154,213,205,1) 54%, rgba(161,227,222,1) 100%); }

.box {margin-top: 50px;
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    margin-left: 10px;
    background-color: rgb(149, 190, 214);}

.bouncesnow {max-height: 0px;
    max-width: 0px;}

.bouncesnowNow {max-height: 80px;
    max-width: 80px;
margin-left: -15px;}

.candycane {max-height: 0px;
    max-width: 0px;}

.candycaneNow {max-height: 100px;
    max-width: 100px;
margin-left: -15px;}

.candymug {max-height: 0px;
    max-width: 0px;}

.candymugNow {max-height: 90px;
    max-width: 90px;
margin-left: -15px;}

.cocoa {max-height: 0px;
max-width: 0px;}

.cocoaNow {max-height: 100px;
    max-width: 70px;
margin-left: -2px;}



.cupcake {max-height: 0px;
    max-width: 0px;}
    
    .cupcakeNow {max-height: 120px;
        max-width: 80px;
    margin-left: -10px;}

    .giftpresent {max-height: 0px;
        max-width: 0px;}    

    .giftpresentNow {max-height: 100px;
        max-width: 60px;}

.gingerbread {max-height: 0px;
    max-width: 0px;}

.gingerbreadNow {max-height: 100px;
    max-width: 90px;
margin-left: -15px;}

.gingerbreadhouse {max-height: 0px;
    max-width: 0px;}

.gingerbreadhouseNow {min-height: 100px;
    max-width: 80px;
margin-left: -10px;}

.helloreindeer {max-height: 0px;
    max-width: 0px;}

.helloreindeerNow {min-height: 100px;
    max-width: 70px;
margin-left: -5px;}

.fallingpresent {max-height: 0px;
    max-width: 0px;}
    
    .fallingpresentNow {max-height: 110px;
        max-width: 80px;
    margin-left: -10px;}

    .leglamp {max-height: 0px;
        max-width: 0px;}
    
    .leglampNow {min-height: 100px;
        min-width: 85px;
    margin-left: -12px;}

    .ornaments {max-height: 0px;
        max-width: 0px;}
    
    .ornamentsNow {min-height: 100px;
        min-width: 80px;
    margin-left: -12px;}

.pirategingerbread { max-height: 0px;
    max-width: 0px;
    margin-left: -15px;
margin-top: -5px
}

.pirateNow {max-height: 100px;
    max-width: 100px;}

.pixelpresents {max-height: 0px;
max-width: 0px;}

.pixelPresentsNow {max-height: 110px;
    max-width: 110px;}

    .rabbit {max-height: 0px;
        max-width: 0px;
    }

.rabbitNow {max-height: 90px;
    max-width: 90px;
position: relative;
right: 7px;}
.reindeer {
    z-index: -1;
min-height: 0px;
max-height: 0px;
max-width: 0px;}
.reindeerNow {
    min-height: 120px;
    min-width: 120px;} 

    .row {display: inline-block;}
.rowFour {position: relative;
bottom: 24px;}
.sleigh{max-height: 0px;
    max-width: 0px;}

.sleighNow{max-height: 100px;
    max-width: 70px;}

.snowdog {max-height: 0px;
    max-width: 0px;}

.snowdogNow {max-height: 100px;
    max-width: 78px;}

    .snowman{max-height: 0px;
        max-width: 0px;}

    .snowmanNow{max-height: 100px;
        max-width: 75px;
    margin-left: -5px;}

    .snowmanappear{max-height: 0px;
        max-width: 0px;}

    .snowmanappearNow{max-height: 100px;
        max-width: 75px;
    margin-left: -5px;}


    .wreath {max-height: 0px;
        max-width: 0px;}
    
    .wreathNow {max-height: 100px;
        max-width: 90px;
    margin-left: -15px;}

.yulelog {max-height: 0px;
    max-width: 0px;}

.yulelogNow {max-height: 100px;
    max-width: 75px;
margin-left: -15px;}