body {background: radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(154,213,205,1) 54%, rgba(161,227,222,1) 100%);
max-width: 370px;
color: rgb(41, 3, 110);
font-family: 'Dancing Script', cursive;
font-size: 20px;
user-select: none;
}

.bodyConfetti {background-image: url("../media/confetti.gif");
    background-image: url("../media/confetti.gif"), radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(154,213,205,1) 54%, rgba(161,227,222,1) 100%); }
    
    .bodySnow {background-image: url("../media/falling\ snow.gif");
    background-image: url("../media/falling\ snow.gif"), radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(154,213,205,1) 54%, rgba(161,227,222,1) 100%); }
    
    .bodyStars {background-image: url("../media/starfall.gif");
    background-image: url("../media/starfall.gif"), radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(154,213,205,1) 54%, rgba(161,227,222,1) 100%); }

    
.bouncesnow {max-height: 0px;
    max-width: 0px;}

    .bouncesnowNow {max-height: 100px;
        max-width: 100px;}

.candycane {max-height: 0px;
    max-width: 0px;}

.candycaneNow {max-height: 100px;
    max-width: 100px;
}

.candymug {max-height: 0px;
    max-width: 0px;}

.candymugNow {min-height: 90px;
    min-width: 90px;
    margin-left: -10px;
    }

.cocoa {max-height: 0px;
max-width: 0px;}

.cocoaNow {max-height: 100px;
    max-width: 70px;
margin-left: -2px;}



.container {display: block;
margin-left: 200px;
}

.cupcake {max-height: 0px;
    max-width: 0px;}
    
    .cupcakeNow {max-height: 120px;
        max-width: 80px;
    margin-left: -10px;}

    .giftpresent {max-height: 0px;
        max-width: 0px;}    

    .giftpresentNow {max-height: 100px;
        max-width: 60px;}

.gingerbread {max-height: 0px;
    max-width: 0px;}

.gingerbreadNow {max-height: 100px;
    max-width: 90px;}

.gingerbreadhouse {max-height: 0px;
    max-width: 0px;}

.gingerbreadhouseNow {min-height: 100px;
    max-width: 80px;
margin-left: -10px;}

.helloreindeer {max-height: 0px;
    max-width: 0px;}

.helloreindeerNow {min-height: 100px;
    max-width: 70px;
margin-left: -5px;}

.fallingpresent {max-height: 0px;
    max-width: 0px;}
    
    .fallingpresentNow {max-height: 110px;
    margin-left: -10px;}

    .leglamp {max-height: 0px;
        max-width: 0px;}
    
    .leglampNow {min-height: 100px;
        min-width: 85px;
    margin-left: -12px;}

    .ornaments {max-height: 0px;
        max-width: 0px;}


.pirategingerbread { max-height: 0px;
    max-width: 0px;
margin-top: -5px
}

.pirateNow {max-height: 100px;
    max-width: 100px;}

.pixelpresents {max-height: 0px;
max-width: 0px;}

.pixelPresentsNow {max-height: 110px;
    max-width: 110px;}

    .rabbit {max-height: 0px;
        max-width: 0px;
    }

.rabbitNow {max-height: 90px;
    max-width: 90px;
position: relative;
right: 7px;}
.reindeer {
    z-index: -1;
min-height: 0px;
max-height: 0px;
max-width: 0px;}
.reindeerNow {
    min-height: 120px;
    min-width: 120px;} 

    .row {    flex-wrap: nowrap;}

.sleigh{max-height: 0px;
    max-width: 0px;}

.sleighNow{max-height: 100px;}

.snowdog {max-height: 0px;
    max-width: 0px;}

.snowdogNow {max-height: 100px;
    max-width: 88px;}

    .snowman{max-height: 0px;
        max-width: 0px;}

    .snowmanNow{max-height: 100px;
        max-width: 75px;}

    .snowmanappear{max-height: 0px;
        max-width: 0px;}

    .snowmanappearNow{max-height: 100px;
        max-width: 75px;
    margin-left: -5px;}


    .wreath {max-height: 0px;
        max-width: 0px;}
    
    .wreathNow {max-height: 100px;
        max-width: 90px;}

.yulelog {max-height: 0px;
    max-width: 0px;}

.yulelogNow {max-height: 100px;
    max-width: 75px;}

    @media (max-width: 400px)
{.row {max-width: 75px;
margin-right: 20px;
position: relative;
right: 15px;}
.box {margin-top: 50px;
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    margin-left: 10px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(143,187,255,1) 100%);
border: 2px solid #a9c1e0;
}
.bouncesnowNow {
margin-left: -20px;}
.candycaneNow {margin-left: -20px;}
.candymugNow {    min-width: 75px;
    max-width: 75px;
    margin-left: -10px;}
    .fallingpresentNow { max-width: 70px;}
    .gingerbreadNow {margin-left: -20px;}
    .ornamentsNow {min-height: 100px;
        min-width: 50px;
        max-width: 60px;
    margin-left: -2px;}
.pirateNow {    margin-left: -20px;}
.snowdogNow {margin-left: -15px;}
.snowmanNow{
    margin-left: -8px;}
    .sleighNow     {max-width: 55px;}
    .wreathNow   {margin-left: -15px;}
.yulelogNow {margin-left: -15px;}
}



@media (min-width: 451px){.container {display: block;
    margin-left: 450px;}
    .box {margin-top: 50px;
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        margin-left: 10px;
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(143,187,255,1) 100%);
    border: 2px solid #a9c1e0;}
    .bouncesnowNow {
    margin-left: -10px;}
    .candycaneNow {margin-left: -15px;}
    .candymugNow {    min-width: 90px;
    margin-left: -10px;}
    .fallingpresentNow { max-width: 80px;}
        .gingerbreadNow {margin-left: -5px;}
        .ornamentsNow {min-height: 100px;
            min-width: 80px;
        margin-left: -2px;}
            .snowmanNow{
            margin-left: -5px;}
            .sleighNow     {max-width: 70px;}
                .pirateNow {    margin-left: -15px;}
    .wreathNow   {margin-left: -5px;}
    .yulelogNow {margin-left: -5px;}
}